@page "/"
@inject IConfiguration Config
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p class="h4">
	Default Connection String:@defaultConnection
</p>
@code{
	private string defaultConnection = "";
	protected override void OnInitialized(){
		defaultConnection = Config.GetConnectionString("Default") ?? "unknown";
	}
}